@import "icon.styl"

body{
 /* -webkit-tap-highlight-color:rgba (255, 255, 255, 0);
  -webkit-tap-highlight-color:transparent;
  !*屏蔽用户选择*!
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  !* 清除输入框内阴影*!
  -webkit-appearance: none;

  !*禁止文本缩放*!
  -webkit-text-size-adjust: 100%;

  !*解决字体在移动端比例缩小后出现锯齿的问题*!
  -webkit-font-smoothing: antialiased;

  !*设置input里面placeholder字体的大小*!
  ::-webkit-input-placeholder{ font-size:10pt;}*/

}

